body {
  margin: 0;
  padding: 0;
}

.Widget {
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, "PT Sans", sans-serif;
  &__main {
    padding: 15px 21px 15px 19px;
  }
}

.ConsultantInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  &__photo {
    position: absolute;
    top: 1px;
    left: -97px;
    margin-right: 10px;
    width: 120px;
    height: 121px;
  }
  &__name {
    margin-top: 7px;
    margin-bottom: 4px;
    margin-left: 32px;
    font-size: 16px;
    color: #282828;
    font-weight: 700;
  }
  &__position {
    margin-top: 0;
    text-overflow: ellipsis;
    margin-left: 32px;
    font-size: 12px;
    margin-bottom: 1px;
    color: #818181;
  }
  &__status {
    position: relative;
    box-shadow: 0 0 0 1px rgba(60, 44, 0, 0.25);
    line-height: 20px;
    padding: 7px 10px 7px 32px;
    margin-top: 10px;
    background-color: #fffbc7;
    border-radius: 4px;
  }
}

.ConsultantInfo__statistics {
  margin-bottom: 24px;
}

.CommentsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  vertical-align: top;
  margin-bottom: 4px;

  &__counters {
    display: flex;
    align-items: start;
    align-content: start;
    vertical-align: bottom;
    line-height: 16px;
  }
  &__headers {
    display: inline;
    > span {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      padding-right: 10px;
    }
    a {
      font-weight: 400;
      color: #005da1;
      text-decoration: none;
      border-bottom: 1px solid #005da1;
      &:hover {
        border-bottom: none;
      }
    }
  }
}

.like-count {
  font-size: 12px;
  position: relative;

  &::before {
    content: url(https://serdavydko.github.io/2808190840s/img/like.png);
    position: absolute;
    left: -15px;
    top: 2px;
    padding-right: 4px;
  }
}

.comment-count {
  font-size: 12px;
  margin-left: 36px;
  align-items: center;
  vertical-align: top;
  position: relative;
  &::before {
    content: url(https://serdavydko.github.io/2808190840s/img/comment.png);
    position: absolute;
    left: -15px;
    top: 2px;
  }
}

.Comment {
  margin-top: 14px;
  margin-bottom: 0px;
  &__content {
    position: relative;
    margin-top: 12px;
    line-height: 20px;
    padding: 13px 6px 13px 20px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    background-color: #f2fbff;

    &:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: #f2fbff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.19);
      border-left: 1px solid rgba(0, 0, 0, 0.19);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      position: absolute;
      top: -5px;
      left: 22px;
      transform: rotate(88deg) skewX(-47deg);
    }
  }
  &__author {
    font-weight: 700;
    font-size: 14px;
  }
  &__date {
    font-size: 11px;
    color: #818181;
    margin-left: 5px;
  }
}

.CreateComment {
  padding-top: 29px;
  padding-bottom: 12px;
  margin-top: 3px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-content: center;
  &__input {
    resize: none;
    margin: auto 21px auto 19px;
    padding: 5px;
    line-height: 15px;
    font-family: Arial, "PT Sans", sans-serif;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.44),
      inset 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  &__submit-btn {
    background-color: #fdd639;
    border: 2px solid #f2f2f2;
    height: 43px;
    border-radius: 21px;
    width: 282px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    margin: 21px auto;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
    &:hover {
      background: #fcf59a radial-gradient(circle, transparent 1%, #fcf59a 1%)
        center/15000%;
    }
    &:active {
      background-color: #fdd639;
      background-size: 100%;
      transition: background 0s;
    }
    &:focus {
      outline: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.graph-cont {
  width: calc(100% - 40px);
  width: 100%;
  border-left: 1px solid #b3b3b3;
  max-width: 800px;
  margin: 10px auto;
}

.bar {
  height: 26px;
  max-width: 800px;
  margin: 0 auto 2px auto;
  line-height: 28px;
  font-size: 13px;
  padding: 0 0 0 10px;
  position: relative;
}

.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 28px;
  top: 0;
  z-index: -2;
  background: white;
}

.bar::after {
  content: "";
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  height: 25px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bar1::after {
  background: #3cb305;

  max-width: 73.33%;
}

.bar2::after {
  background: #30b6ee;
  max-width: 20%;
}

.bar3::after {
  background: #30b6ee;
  max-width: 6.67%;
}

.how-cont {
  width: calc(100% - 45px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.headerRow {
  margin-bottom: 4px;
  text-align: left;
  line-height: 15px;
}

.col2 {
  text-align: left;
  vertical-align: middle;
  padding-left: 8px;
  font-size: 13px;
  font-weight: 700;
}

.first-elem {
  padding-top: 8px;
}

.last-elem {
  padding-bottom: 8px;
}

.lastLine {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 700;
  border-top: 1px solid #b3b3b3;
}

table {
  border-collapse: collapse;
  margin-left: 31px;
  margin-right: 10px;
  width: 91%;

  th {
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 13px;
    vertical-align: top;
  }
}

.firstLine {
  padding-top: 10px;
}

@media (max-width: 400px) {
  .CommentsBlock {
    flex-direction: column;
  }
  .like-count {
    margin-left: 16px;
    margin-top: 10px;
  }
  .comment-count {
    margin-top: 10px;
  }
}
